<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanning.mybatis.dao.EmployeeMapper">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>

	<resultMap type="employee" id="MyEmp">
		<id column="id" property="id" />
		<result column="last_name" property="lastName" />
		<result column="email" property="email" />
		<result column="gender" property="gender" />
	</resultMap>

	<select id="getEmpById" resultMap="MyEmp">
		select * from tbl_employee

		<trim prefix="where" prefixOverrides="and">
			<if test="id!=null">
				id = #{id}
			</if>
			<if test="lastName!=null and lastName!=''">
				and last_name like #{lastName}
			</if>
			<if test="email!=null">
				email = #{email}
			</if>
			<if test="gender!=null">
				gender = #{gender}
			</if>
		</trim>
	</select>

	<update id="updateEmp">
		update tbl_employee 		
		<set>		
			<if test="lastName!=null">
				last_name = #{lastName},
			</if>
			<if test="email!=null">
				email = #{email},
			</if>
			<if test="gender!=null">
				gender = #{gender}
			</if>
		</set>
		where id = #{id}		
	</update>
	
	<select id="getEmpByIds" resultMap="MyEmp">
		<!-- collection:指定要遍历的集合，list类型的参数会特殊处理封装在map中
		map的 key就叫list -->
		select * from tbl_employee where id in 
		<foreach collection="list" item="id" open="(" separator="," close=")" >
			#{id}
		</foreach>
	</select>
	
	<!-- 批量保存 -->
	<insert id="addEmps">
		insert into tbl_employee(last_name,gender,email)
		values
		<foreach collection="employees" item="emp" separator=",">
			(#{emp.lastName},#{emp.gender},#{emp.email})
		</foreach>
	</insert>

</mapper>